/ReferenceGUI/.project
/ReferenceGUI/.pydevproject
*.*~

/.vscode
*.code-workspace
.flake8
#*.pem
*.crt
*.tss
*.key
*.pub
*.csr
*.data
*.bin
datain.txt
dataout.txt
engine_data.txt
nvm_data.txt
pcrevent_*
*.ctx
data_encryp*
mycipher
ticketfile
signature_*
__pycache__
key.*
*.dat
unseal*.*
mysig
tpm2-*
autoconf*
Python_TPM20_GUI/bin
